
<ion-modal-view id="item-modal">
    <ion-header-bar ng-click="list.hideItem()">
        <h1 class="title">{{list.currentItem.name}}</h1>
        <button class="button icon-right button-clear button-assertive">
            <i class="icon ion-close-round"></i>
        </button>
    </ion-header-bar>
    <!--<ion-content>-->
    <div class="content has-header">
        <div class="item-img">
            <img ng-src="{{list.currentItem.img}}">
        </div>
        <span>{{list.currentItem.description}}</span>
    </div>
    <!--</ion-content>-->
</ion-modal-view>
