<ion-modal-view>
    <ion-header-bar ng-click="location.hideLocation()">
        <h1 class="title">Twoja obecna lokalizacja</h1>
        <button class="button icon-right button-clear button-assertive">
            <i class="icon ion-close-round"></i>
        </button>
    </ion-header-bar>
    <ion-content>
        <div ng-if="location.position">
            <b>latitude:</b> {{location.position.coords.latitude}}<br>
            <b>longitude:</b> {{location.position.coords.longitude}}<br>
        </div>
        <div ng-if="!location.position">
            Couldn't get your position!<br>
            {{location.error}}
        </div>
    </ion-content>
</ion-modal-view>